body {
    background-color: grey;
    font-family: sans-serif;
}

.header {
    display: block;
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding-top: 5px;
    font-size: 25pt;
    font-weight: bold;
}

.middle {
    display: block;
    height: 70vh;
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

.main {
    float: left;
    background-color: beige;
    width: 66%;
    height: inherit;
}

.main p {
    height: 30vh;
}

.main div {
    display: inline-flex;
    background-color: rgb(233, 206, 119);
    width: 30vw;
    height: 100px;
    margin: 1%;
    justify-content: center;
    align-items: center;

}

.main div:last-child {
    display: flex;
    width: initial;
}

.aside {
    display: block;
    background-color: rgb(184, 245, 184);
    height: inherit;
}

.aside p {
    padding-top: 20px;
}

.footer {
    clear: both;
    width: 100%;
    font-size: 25pt;
    font-weight: bold;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 18px;
    margin: 1%;
}